	@charset "UTF-8";
/* ================================================== */
/*	1.0.0	img-utente
/* ================================================== */

a {
text-decoration: none  !important
}

a:link {
color: #800000;
}

a:active {
color: #ff00ff;
}

a:visited {
color: Navy;
}

a:hover {
color: Red;
}

hr {
color: #008000;
}

p {
margin: 0;
padding: 0.5em 1em;
text-align: left;
color: #000000;
}

.p:first-letter {
float: left;
padding-right: 0.1em;
line-height: 0.5em;
font-size: 2em;
color: #a52a2a;
}

Pre {
color: #000000;
line-height: 1pc;
margin: 0 0 5px 0;
}

iframe {
border: 0;
}

img {
border: none;
margin: 5 0 0 5;
vertical-align: middle;
}

/*  fieldset  */
fieldset.input {
border: none;
margin: 1px;
padding: 1px;
border-radius: 0;
}

fieldset.tabella {
border: 1px solid #aaaaaa;
margin: 0;
padding: 10px;
border-radius: 7px;
}

fieldset div {
float: left;
width: 100%;
padding: 1px 0 2px;
}

/*  form  */
form login{
margin :0 50% 0 50%;
}

form.bottoni {
margin-block-end: 0 !important;
float: left;
}

select {
color: blue;
font-size: 10pt;
}

span.right {
float: right;
}

textarea {
color: blue;
font-size: 10pt;
}

input {
color: blue;
font-size: 10pt;
/* background: #ffffff; */
border: 1px solid #aaaaaa;
}

input.req {
color: blue;
font-size: 10pt;
background: #ffffff;
border: 1px solid #ff0000;
}

input.nobord {
border: none;
vertical-align: bottom;
padding: 0 3px;
}

button {
background: #dddddd;
border: 1px solid #aaaaaa;
font-size: 12pt;
}

/* tabelle */
table {
font-size: 10pt;
/* border-right: 1px solid #ccc; */
border-bottom: 1px solid #ccc;
/* margin-left: 10px; */
}

th {
font-size: 10pt;
background: #ccc;
padding: 5px;
border-left: 1px solid #ccc;
border-top: 1px solid #ccc;
text-align:center;
}

td {
border-left: 1px solid #ccc;
border-top: 1px solid #ccc;
padding: 5px;
text-align: left;
vertical-align: bottom;
}

tr td:last-child	{
border-right: 1px solid #ccc;
}

/*  CLASSI  */
.little {
font-size: 50%;
}

.blue {
background: gainsboro;
}

.mid {
text-align: center;
}

/*   div   */
div.azioni {
height: 60px;
width: 97%;
border: 1px solid #aaaaaa;
margin: 1em;
padding: 0.5em;
border-radius: 7px;
background: #f4f4f4;
clear: left;
}

div.titolo {
float: left;
font-size: 25px;
color: #07A1FF;
}

div.bottoni {
float: right;
}

div.tabella {
float: left;
height: 600px;
overflow: scroll;
}

div.widget {
float: left;
margin: 20px;
border: 1px solid #AAAAAA;
border-radius: 0px;
background: #FFFFFF;
}

div.widget:hover {
box-shadow: 10px 5px 15px rgba(0,0,0,0.75);
border-bottom-right-radius: 70% 20px;
}

.img-centro {
text-align: center;
}

.img-utente {
vertical-align: middle;
height: 50px;
}

.marchio {
height: 50px;
margin: 7.5px;
float: left;
}

div.login{
  text-align: center;
}

/*   ID   */
header {
float: left;
width: 100%;
margin: 0;
height: 65px;
background-image: linear-gradient(top,#b8e4ff ,#2e94c0 );
background-image: -moz-linear-gradient(top,#b8e4ff ,#2e94c0 );
background-image: -webkit-linear-gradient(top,#b8e4ff ,#2e94c0 );
background-image: -ms-linear-gradient(top,
#b8e4ff ,
#2e94c0 );
font-size: 200%;
font-weight: bolder;
color: #ffffff;
border: 1px solid #aaaaaa;
border-radius: 7px 7px 0 0;
}

nav {
float: left;
width: 100%;
margin: 0;
padding: 0;
background-color: #dcdcdc;
border-left: 1px solid #aaaaaa;
border-right: 1px solid #aaaaaa;
}

#corpo {
float: left;
width: 100%;
min-height: 450px;
background: #ffffff;
border: 1px solid #aaaaaa;
}

#upd {
margin-top:20px;
float: left;
width: 100%;
min-height: 450px;
background: #ffffff;
border: 1px solid #aaaaaa;
}

article {
float: left;
width: 100%;
color: #000000;
background: transparent;
}

aside.left {
float: left;
width: 0%;
background: transparent;
color: #000;
;
}

aside.right {
float: left;
width: 0%;
background: transparent;
color: #000;
}

footer {
width: 100%;
clear: left;
padding: 0;
background-color: #55ABD2;
border-radius: 0 0 7px 7px;
padding: 5px 0;
}
