@charset 'utf-8';
*	{
	margin: 0px;
	padding: 0px;
	color:white;
	font-family:tahoma;	
}

/* --------------------------------------------- */
/*  GRIGLIE                                      */
/* --------------------------------------------- */

header	{
    display: grid;
    grid-template-columns: 150px auto 100px;
    grid-template-areas:
    "logo titolo button"
	}
.logo,
.titolo,
.button	{
	background:linear-gradient(to top, aqua, blue);
}
/* --------------------------------------------- */
.corpo	{
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
    "sidebar content"
	}
.articoli	{ 
	grid-area: content; 
	background:linear-gradient(to right, lime, green);
	}
	
aside	{ 
	grid-area: sidebar; 
	background:linear-gradient(to left, coral, red);
	}
/* --------------------------------------------- */
.grid4	{
    display: grid;
	grid-template-rows; 300px;
    grid-template-areas:
    "promo1 promo2 promo3";
	}	
	
.promo1,
.promo2,.promo3,.promo4	{
	background:linear-gradient(to top, aqua, blue);
}	

/* --------------------------------------------- */
.grid6	{
    display: grid;
		grid-template-rows; 300px;
    grid-template-areas:
    "promo1 promo2";
	}	
	
section.due	{
	background:linear-gradient(to top, peru, brown);
}
/* --------------------------------------------- */
.grid3	{
    display: grid;
		grid-template-rows; 300px;
    grid-template-areas:
    "promo1 promo2 promo3 promo4";
	}	
	
.f	{
	background:linear-gradient(to top, black, violet);
}

.top1,
.top2,
.top3	{
	background:linear-gradient(to top, darkblue, blue);
}
/* --------------------------------------------- */
.grid12	{
    display: grid;
	grid-template-rows; 300px;
    grid-template-areas:
    "promo1";
	}	
	
.promo1	{
	background:linear-gradient(to top, aqua, blue);
}	
/* --------------------------------------------- */

.gutter		{	
	gap:0px;
}

.fb-col12	{
    grid-template-columns:  100% ;
}
.fb-col6	{
    grid-template-columns:  50% 50% ;
}

.fb-col4	{
    grid-template-columns:  33.3333333333333333% 33.3333333333333333% 33.3333333333333333%;
}

.fb-col3	{
	grid-template-columns: 25% 25% 25% 25%;
}

.fb-col5	{
	grid-template-columns: 20% 20% 20% 20% 20%;
}
/* --------------------------------------------- */
	
	
p{
	padding:20px;
	text-align: justify;
}

h1,h3,h6{
	text-align:center;
}

input{
	margin:30px 15px;
	padding:calc(100px - 90px);
}
img.c		{
margin-left:40%;
   }