	@charset "UTF-8";
/* ================================================== */
/*	1.0.0	img-utente
/* ================================================== */
body {
margin: 0 10px 0;
padding: 0;
font-size: 14px;
width: 99%;
background-color: #fcfcfc;
font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

/* LINK */
a {
text-decoration: none  !important
}

a:link {
color: #800000;
}

a:active {
color: #ff00ff;
}

a:visited {
color: Navy;
}

a:hover {
color: Red;
}
  
a[data-toggle="tooltip"] {
     cursor:none;
}

iframe {
border: 0;
}
/*  IMG  */
img {
border: none;
margin: 5 0 0 5;
vertical-align: middle;
}

.img-centro {
text-align: center;
}

.img-utente {
vertical-align: middle;
height: 50px;
}


 label    {
 float: left;
 width: 150px;
 display: inline;
 margin-right: 10px;
 line-height: 22px;
 text-align: right;
 }
 label.short {
float: left;
width: 10%;
display: inline;
margin-right: 10px;
line-height: 12px;
text-align: right;
}

/* Classe per applicare un margine inferiore */

.margine-bottom {margin-bottom: 20px;}

/* Stili per sovrascrivere e modificare la Navbar di Bootstrap */
.navbar {
  border: none;
}

.navbar-nav {
  margin-top: 0;
}

.navbar-brand {
 display: inline-block;
 /*text-indent: -9999px; */
 width: 190px;
 height: 100px;
 /*background: url(../images/icofbot.png) center bottom no-repeat;    */
}                                             

.navbar-default {
 background-color: #fcfcfc;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #357ebd;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #357ebd;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #357ebd;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle {
 border: 1px solid #357ebd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #357ebd;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #357ebd;
  border-bottom-color: #357ebd;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #357ebd;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

@media screen and (min-width: 768px) {
 .navbar-default .navbar-nav > li > a {
  border-bottom: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-top: 2px solid #357ebd;
  padding-top: 13px;
}
}

/* Stili per sovrascrivere e modificare i menu dropdown di Bootstrap */

.dropdown-menu {
 padding: 0 0;
 border-radius: 0;
 -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
 padding: 7px 10px;
 border-bottom: 1px solid #ccc;
}


/* Stile per sovrascrivere e modificare le immagini thumbnail di Bootstrap */

.thumbnail,
.img-thumbnail {
  border-radius: 0;
  border: 1px solid #bbbbbb;
}

/* Stili per sovrascrivere e modificare i bottoni standard di Bootstrap */

.btn {
  border: 01px solid #bbbbbb;
  border-radius: 4px;
  padding: 6px;
  margin: 4px;
}
.btn:focus {
  outline: 0;
}


/* Testata */

.header-sezione-primary {
  border-bottom: 2px solid #337ab7 !important;
}
.header-sezione-danger {
  border-bottom: 2px solid #c9302c !important;
}

@media screen and (min-width: 768px) {
 .header-sezione {
 margin-left: 0;
 margin-right: 0; 
 }
}
/* Lavoro in evidenza */

.box-lavoro-evidenza {
 margin: 15px 0;
}
.box-lavoro-evidenza h3 {margin-top: 0}

/* Stile per modificare e sovrascrivere i blockquote di Bootstrap */

blockquote {
 border-left: 5px solid #357ebd;
}

/* Pannelli dell'accordion basati sui panel di Bootstrap */

.panel-carousel {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-carousel-heading {
  margin: -15px -15px 15px;
  padding: 10px 15px;
  font-size: 125%;
  font-weight: 500;
/*  background-color: #357ebd;  vedi:.fb-bgcolor-.....   */
  color: #fff;
  border-bottom: 1px solid #dddddd;
}
.panel-carousel-footer {
  margin: 15px -15px -15px;
  padding: 10px 15px;
  background-color: #ecf7ff;
  border-top: 1px solid #dddddd;
}

.panel-carousel-control {
  font-size: 125%;
}
.panel-carousel-control:hover,
.panel-carousel-control:focus {
  text-decoration: none;
}

.tab-content {padding: 15px 0;}

/* Tabelle servizi */

.servizi {
 margin-top: 15px;
 text-align: center;
}
.servizi-titolo {
 background-color: #5cb85c;
}
.servizi-prezzo {
 background-color: #5cb85c;
 color: #fff;
}
.servizi-opzione {
 background-color: #dff0d8;
}
.servizi-footer {
 background-color: #eeeeee;
}

.servizi-portfolio {
 margin-top: 15px;
 text-align: center;
}
.servizi-portfolio-titolo {
 background-color: #5bc0de;
}
.servizi-portfolio-prezzo {
 background-color: #5bc0de;
 color: #fff;
}
.servizi-portfolio-opzione {
 background-color: #a4eaff;
}
.servizi-portfolio-footer {
 background-color: #eeeeee;
}

/* Pulsanti acquisto servizi */

.btn-round-bottom {
 border-bottom-right-radius: 4px;
 border-bottom-left-radius: 4px;
}

/* Footer */

footer {
background-color: #fff;
 padding: 10px;
/* color: #fff;  */
}
footer a, footer a:hover {color: #5cb85c;}
#footer-copy {
 padding: 10px 0 0 0;
 border-top: 1px solid #fff;
}


/* Stile per modificare e sovrascrivere l'aspetto degli input di Bootstrap */
form	{
  margin-block-end: 0em !important;	
}

.form-control {
  height: 32px;
  padding: 6px 12px;
  color: #333333;
  border-radius: 0;
}

/*  form  */
form login{
margin :0 50% 0 50%;
}

form.bottoni {
margin-block-end: 0 !important;
float: left;
}

select {
color: blue;
}

span.right {
float: right;
}

textarea {
color: blue;
}

input {
color: blue;
border: 1px solid #aaaaaa;
}

input[type=checkbox]	{
	width:  20px;
	height: 20px;
}

input.req {
color: blue;
background: #ffffff;
border: 1px solid #ff0000;
}

input.nobord {
border: none;
vertical-align: bottom;
padding: 0 3px;
cursor:auto;
width: 18px;

}

input.titolo {
/*border: 1px solid #ffffff;  */
background: inherit;
color: blue;
border-width: 0px;
}

input.titolo_b {
/*border: 1px solid #ffffff; */
background: inherit;
color: blue;
font-weight: bold;
border-width: 0px;
}


button {
background: #dddddd;
border: 1px solid #aaaaaa;
}


/* Testata portfolio */

.header-portfolio {
 background-color: #5cb85c;
 padding: 10px 15px;
 border-bottom: 2px solid #357ebd;
}

.header-portfolio > h2 {
 margin-bottom: 0;
 margin-top: 0;
 color: #fff;
}

/* Stile per modificare e sovrascrivere l'aspetto il componente Breadcrumb di Bootstrap */

.breadcrumb {
  margin: 0;
  background-color: transparent;
  border-radius: 0;
}

.breadcrumb > li + li:before {
  color: #fff;
}

.breadcrumb > .active {
  color: #fff;
}



/* Modifica del componente thumbnails per il portfolio */

.portfolio-filtro {margin-top: 15px;}

.portfolio-thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 15px 0;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #eeeeee;
  border: 1px solid #5cb85c;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.portfolio-thumbnail > img,
.portfolio-thumbnail > a > img,
.portfolio-img-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.portfolio-thumbnail:hover,
.portfolio-thumbnail:focus {
  border-color: #357ebd;
}

.portfolio-thumbnail > img {
  margin-right: auto;
  margin-left: auto;
}

.portfolio-thumbnail .caption {
  padding: 9px;
  color: #333333;
}

/* Stili per sovrascrivere e modificare il componente Pagination di Bootstrap */

.pagination > li > a {
  background-color: #5cb85c;
}


.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
  color: #999999;
  background-color: #eeeeee;
  border-color: #dddddd;
}


/* Titoli pagina contatti */

.contatti-titoli {
 margin-bottom: 15px;
 border-bottom: 2px solid #357ebd;
 padding-bottom: 10px;
}

/* Stili per sovrascrivere e modificare il componente Accordion/collapse di Bootstrap */

.panel {
  border: 1px solid #dddddd;
  border-radius: 0;
}

.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-title > a {
  color: #fff;
  text-decoration: none;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-default > .panel-heading {
  background-color: #5cb85c;
  border-color: #dddddd;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}
.fa-1x {
	font-size: 1em
}
.well {
     margin-top: 10px;
}
/* colore-sfondo template */
.fb-bgcolor-danger    {
     background-color:#c9302c !important ;
}
.fb-bgcolor-primary    {
     background-color:#337ab7 !important ;
}
.fb-bgcolor-success    {
     background-color:#5cb85c !important ;
}
.fb-bgcolor-info    {
     background-color:#46b8da !important ;
}
.fb-bgcolor-warning    {
     background-color:#ec971f !important ;
}
.fb-bgcolor-default    {
     background-color:#ffffff !important ;
}



/* colore template */
.fb-color-danger    {
     color:#a94442 !important;
}
.fb-color-primary    {
     color:#357ebd !important;
}

/* totop */
.fb-totop      {
     bottom: 1em;
     right: 2em;
     width: 55px;
     height: 55px;
     position: fixed;
     display: block;
     background-color: #cacaca;
     padding: 10px 0 0 13px;
     border:1px solid #337eb7;
     border-radius:4px ;
}
/*  fieldset  */
fieldset  {
     background: #F5F5F5;
     border: 1px solid #E3E3E3;
     border-radius: 4px;
     padding: 5px;
     margin-top: 5px;
}
fieldset.toolbar  {
     background: #F5F5F5;
     border: 1px solid #E3E3E3;
     border-radius: 4px;
     padding: 5px;
     margin-top: 5px;
	 height: 55px;
}
fieldset.input {
border: none;
margin: 1px;
padding: 1px;
border-radius: 0;
}

fieldset.tabella {
border: 1px solid #aaaaaa;
margin: 0;
padding: 10px;
border-radius: 7px;
}

fieldset div {
float: left;
width: 100%;
padding: 1px 0 2px;
}
legend    {
     color: #a52a2a;
     border-bottom:none !important;
     margin-bottom:0px  !important;
     padding: 0 5px;
   /*  width: fit-content !important;  */
     font-weight: bold;
     background-color: #e1e1e1;
}
/* Footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

#footer {
 /*   position: absolute;
  bottom: 0;
  width: 100%;
 Set the fixed height of the footer here */
  height: 200px;
}
div.primary {
  /* color overlay */
   
  background:    linear-gradient(rgba( 51, 122, 183, 1),rgba(191, 225, 252, 0.45)
    )
    }
/* Custom footer CSS
-------------------------------------------------- */

.container {
  width: auto;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.white {
  color: #ffffff;
}

/* proporzioni per video  */
#wrapp {
  height: 0;
  margin-bottom: 16px;
  margin-left: 30px;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 25px;
  position: relative;
}

#player {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}                       
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

td.center {
     text-align: center;
}
.back-to-top {
cursor: pointer;
position: fixed;
bottom: 0;
right: 20px;
display:none;
}
/* mappa di login */
img.login {
	margin-right: 40px;
}

div.widget {
	float: left;
	margin: 20px;
	border: 2px solid #AAAAAA;
	border-radius: 5px;
	background: #CCCCCC;
     width: 100%;
}
div.widget:hover {
  	box-shadow: 3px 5px 10px rgba(0,0,0,0.75);       
	border-bottom-right-radius: 70% 25px;
     transition-property: border-bottom-right-radius;
     transition-duration: .5s;
     background: #CCCCCC;
}
div.footer {
     background:#CCCCCC; ;
     display: block;
    width: 100%;      
    padding: 0;
    margin-bottom: 20px;
    font-size: 150%;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;

}   
.space-after  {
     margin-top: 5px;
}
.space-before  {
     margin-bottom: 5px;
}

/*  TOOLTIP  */
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	filter: alpha(opacity=100);
	opacity: 1;
	line-break: auto
}
.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9
}
.tooltip.top {
	padding: 5px 0;
	margin-top: -3px
}
.tooltip.right {
	padding: 0 5px;
	margin-left: 3px
}
.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px
}
.tooltip.left {
	padding: 0 5px;
	margin-left: -3px
}
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 4px
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

p {
margin: 0;
padding: 0.5em 1em;
text-align: left;
color: #000000;
}

.p:first-letter {
float: left;
padding-right: 0.1em;
line-height: 0.5em;
font-size: 2em;
color: #a52a2a;
}

Pre {
color: #000000;
line-height: 1pc;
margin: 0 0 5px 0;
}


hr {
color: #008000;
}

hr.slim   { 		 /* HR senza margini verticali  */
 margin-bottom: 0px;
 margin-top: 0px;
 background-color: #aaaaaa;
 height: 1px;
}

/* navigatore */
ul.nav2 {
float: left;
margin: 0;
padding: 0;
background: gainsboro;
list-style: none;
font: 1em Verdana;
font-weight: bold;
width: 90%;
}

ul.nav2 li {
float: left;
margin: 0;
padding: 0;
color: black;
}
ul.nav2 li a{
color: red;
border-right: 0px;
}

ul.nav2>li>a{
color: darkblue;
border-right: 0px;
font-weight: normal !important;
background: transparent !important;;
}

ul.nav2 li a:hover{
background: black;
}

ul.nav2 a:link, 
ul.nav2 a:visited {
display: block;
padding: 4px 16px;
/*color: black;*/
text-decoration: none;
}
ul.nav2 a:hover, 
ul.nav2 a:focus, 
ul.nav2 a:active {
background-color: gainsboro;
color: deeppink;
text-decoration: none;
}  
ul.nav2 li:hover ul.liv2 {
display: block;
position: absolute;
z-index: 1;
width: 13%;
padding: 0;
margin: 0;
background: gainsboro;
}
/* secondo livello */
ul.liv2 {
display: none;
position: absolute;
z-index: 1;
width: 13%;
padding: 0;
margin: 0;
background: gainsboro;
}
ul.liv2 li {
list-style: none;
margin: 0;
padding: 0;
width:100%;
}
ul.liv2>li>a{
color: white;
border-right: 0px;
font-weight: bold;
background: #444444;
}
/* autocomplete scrollabile */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
h1.toolbar	{
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:160%;	
	font-weight: bold;
	margin-top: 20px;
}
/*   TOOLBAR   */
.toolbar-color	{
	background-color:#f0f0f0;
}
    /* TABELLA */
.tableFixHead    { 
	overflow-y: auto; 
	height: 550px; 
	clear:both;
	}
.tableFixHead th { 
	position: sticky; 
	top: 0; 
	}

table  { 
	border-collapse: collapse; 
	width: 100%; 
	font-size: 100%;		/* sovrascrive user agent */
	border-bottom: 1px solid #ccc;	
	}
	
td { 
	padding: 8px 16px;
	background: #fefefe;
	padding: 5px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	}

th     {
	background: #ccc;
	padding: 5px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	text-align:center;	
	}

tr td:last-child	{
border-right: 1px solid #ccc;
}

/*  CLASSI  */
.little {
font-size: 50%;
}

.center {
text-align: center;
}

.blue {
	background: gainsboro;
}

.marchio {
height: 50px;
margin: 7.5px;
float: left;
}

.alert    {		/*  alert senza margini  */
margin-bottom: 0px !important;
}
/*   div   */
div.azioni {
height: 60px;
width: 97%;
border: 1px solid #aaaaaa;
margin: 1em;
padding: 0.5em;
border-radius: 7px;
background: #f4f4f4;
clear: left;
}

div.titolo {
float: left;
font-size: 175%;
color: #07A1FF;
}

div.bottoni {
float: right;
}

div.tabella {
float: left;
height: 600px;
overflow: scroll;
}

div.login{
  text-align: center;
}

/*   ID   */
header {
float: left;
width: 100%;
margin: 0;
height: 65px;
background-image: linear-gradient(top,#b8e4ff ,#2e94c0 );
background-image: -moz-linear-gradient(top,#b8e4ff ,#2e94c0 );
background-image: -webkit-linear-gradient(top,#b8e4ff ,#2e94c0 );
background-image: -ms-linear-gradient(top,#b8e4ff ,#2e94c0 );
font-size: 200%;
font-weight: bolder;
color: #ffffff;
border: 1px solid #aaaaaa;
border-radius: 7px 7px 0 0;
}

nav {
float: left;
width: 100%;
margin: 0;
padding: 0;
background-color: #dcdcdc;
border-left: 1px solid #aaaaaa;
border-right: 1px solid #aaaaaa;
}

#corpo {
float: left;
width: 100%;
min-height: 600px;
background: #ffffff;
border: 1px solid #aaaaaa;
}

#upd {
margin-top:20px;
float: left;
width: 100%;
min-height: 450px;
background: #ffffff;
border: 1px solid #aaaaaa;
}

article {
float: left;
width: 100%;
color: #000000;
background: transparent;
}

aside.left {
float: left;
width: 0%;
background: transparent;
color: #000;
}

aside.right {
float: left;
width: 0%;
background: transparent;
color: #000;
}

footer {
width: 100%;
clear: left;
padding: 0;
background-color: #55ABD2;
border-radius: 0 0 7px 7px;
padding: 5px 0;
}
/*  Stile per modificare e sovrascrivere la larghezza della textarea 
    per impedire che i footer si affianchi al testo!*/
.cke_reset	{
	width:650px !important;
}