.flex 		{ display: flex;
				clear:both;}
.row 		{ flex-direction: row; }
.reverse ,
.column 	{ flex-direction: column;
			min-height:500px;
			background: #888;
			border: 1px solid green;}

.j-center 	{ justify-content: center; }
.j-end		{ justify-content:flex-end ;}
.j-start	{ justify-content:flex-start ;}	
.j-between	{ justify-content:space-between ;}

.a-center 	{ align-items: center; }
.a-end		{ align-items: flex-end;}
.a-start	{ align-items: flex-start;}		

.item 		{ display: flex; }

.full 		{ border: 1px solid red; 
			padding: 5px ;
			/*margin: 5px;*/
			background: #ccc; }
