/* --------------------------------------------- */

.fb-col1	{
    grid-template-columns:  100% ;
}

.fb-col2	{
    grid-template-columns:  50% 50% ;
}

.fb-col3	{
    grid-template-columns:  33.3333333333333333% 
							33.3333333333333333% 
							33.3333333333333333%;
}

.fb-col4	{
	grid-template-columns: 25% 25% 25% 25%;
}

.fb-col5	{
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.fb-col6	{
    grid-template-columns:  16.6666666666666666% 
							16.6666666666666666%
							16.6666666666666666%
							16.6666666666666666%
							16.6666666666666666%							
							16.6666666666666666%;
}