/*   FIELDSET   */
@mixin	fieldset()
{
	background: $lightgrey-color;
	border: 1px solid $grey-color;
	border-radius: 4px;
	padding: 5px;
}
fieldset {
@require	fieldset();
	margin-bottom: 5px;
}
fieldset.toolbar  {
@require	fieldset();
     margin-top: 5px;
	 height: 55px;
}
fieldset.input {
border: none;
margin: 1px;
padding: 1px;
border-radius: 0;
}

fieldset.tabella {
border: 1px solid $grey-color;
margin: 0;
padding: 10px;
border-radius: 7px;
}

fieldset div {
float: left;
width: 100%;
padding: 1px 0 2px;
}


legend {
	color: $success-color;
	border-bottom: none !important;
	margin-bottom: 0px  !important;
	padding: 0 5px;
	width: fit-content !important;
	font-weight: bold;
	font-size: inherit;
}  