/*       FONT-SIZE           */
.fb-fs1 {
	font-size: 1em !important;   /* 16 px */
}
.fb-fs2 {
	font-size: 2em !important;	/* 32 px */
}
.fb-fs3 {
	font-size: 3em !important;	/* 48 px */
}
.fb-fs4 {
	font-size: 4em !important;	/* 64 px */
}
.fb-fs5 {
	font-size: 5em !important;	/* 80 px */
}