/*  form  */

/*  MIXINS  */
@mixin	margin-block-end()
{
  margin-block-end: 0em !important;	
}

@mixin	label()
{
	float: left;
	display: inline;
	margin-right: 10px;
	line-height: 22px;
	text-align: right;
}

/* Stile per modificare e sovrascrivere l'aspetto degli input di Bootstrap */

form	{
  @require	margin-block-end();	
}

.form-control { 
  @require	margin-block-end();	
  height: 32px;
  padding: 6px 12px;
  color: $darkgrey-color;
  border-radius: 0;
}

form login{
margin :0 50% 0 50%;
}

form.bottoni {
  @require	margin-block-end();	
float: left;
}

select {
color: $blue-color;
}

textarea,
textarea > p {
color: $blue-color;
font-size: 10pt;
}


/*  LABEL  */

 label    {
	@require	label();
	width: 150px;
 }
 
 label.short {
	@require	label();
	width: 10%;
}

 label.wide {
	@require	label();
	width: 100%;
}
input {
	color: $blue-color;
	border: 1px solid $grey-color;
}

input.req {
	color: $blue-color;
	background: $white-color;
	border: 1px solid $danger-color;
}
input.titolo {
	background: inherit;
	color: $blue-color;
	border-width: 0px;
}

input.titolo_b {
	background: inherit;
	color: $blue-color;
	font-weight: bold;
	border-width: 0px;
}
input.nobord {
	border: none;
	width: 25px;
	height: 20px;
	padding: 0 3px;
}

button {
background: $grey-color;
border: 1px solid $grey-color;
}
