    /* TABELLA */
.tableFixHead    { 
	overflow-y: auto; 
	height: 450px; 
	}
.tableFixHead th { 
	position: sticky; 
	top: 0; 
	}

table  { 
	border-collapse: collapse; 
	width: 100%; 
	}
	
th, td { 
	padding: 8px 16px; 
	}
	
th     { 
	background:$lightgrey-color; 
	}

td.center {
	text-align: center;
}

tr td:last-child	{
border-right: 1px solid $grey-color;
}