/*       UL-NAV2           */

ul.nav2 {
	float: left;
	margin: 0;
	padding: 0;
	background: $lightgrey-color;
	list-style: none;
	font: 1.2em Verdana;
	font-weight: bold;
	width: 90%;
}
ul.nav2 li {
	float: left;
	margin: 0;
	padding: 0;
	color: $black-color;
}
ul.nav2 li a {
	color: $danger-color;
	border-right: 0px;
}
ul.nav2>li>a {
	color: $blue-color;
	border-right: 0px;
	font-weight: normal !important;
	background: transparent !important;
}
ul.nav2 li a:hover {
	background: $black-color;
}
ul.nav2 a:link,                                                                       
ul.nav2 a:visited {
	display: block;
	padding: 4px 16px;
	text-decoration: none;
}
ul.nav2 a:hover,                                                                          
ul.nav2 a:focus,                                                                        
ul.nav2 a:active {
	background-color: $lightgrey-color;
	color: $danger-color;
	text-decoration: none;
}
ul.nav2 li:hover ul.liv2 {
	display: block;
	position: absolute;
	z-index: 1;
	width: 13%;
	padding: 0;
	margin: 0;
	background: $lightgrey-color;
}

/*       UL-LIV2           */

ul.liv2 {
	display: none;
	position: absolute;
	z-index: 1;
	width: 13%;
	padding: 0;
	margin: 0;
	background: $lightgrey-color;
}
ul.liv2 li {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul.liv2>li>a {
	color: $white-color;
	border-right: 0px;
	font-weight: bold;
	background: $darkgrey-color;
}