/* colori */
$danger-color:	#d9534f;
$primary-color:	#428bca;
$success-color:	#5cb85c;
$info-color:	#5bc0de;
$warning-color:	#f0ad4e;
/* ----------------- */
$grey-color:	#888888;					/*  grigio regular  */ 
$lightgrey-color:	lighten(#888888,25%);	/*  grigio chiaro  */
$darkgrey-color:	darken(#888888,25%);	/*  grigio scuro  */
$blue-color: 	#0000FF;
$black-color: 	#000000;
$white-color: 	#FFFFFF;