@charset 'utf-8';
/*   ELEMENTI   */
html {
  position: relative;
  min-height: 100%;
}
body {
	margin: 10px auto;
	padding: 0;
	font-size: 10pt;
	width: 95%;
	background-color: #fcfcfc;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
}
/* Stile per modificare e sovrascrivere i blockquote di Bootstrap */
blockquote {
 border-left: 5px solid #357ebd;
}

p {
margin: 0;
padding: 0.5em 1em;
text-align: left;
color: #000000;
}

.p:first-letter {
float: left;
padding-right: 0.1em;
line-height: 0.5em;
font-size: 2em;
color: #a52a2a;
}
p.text-center	{
	background: #cacaca;
	opacity: .75;
} 
Pre {
color: #000000;
line-height: 1.2em;
margin: 0 0 5px 0;
font-size:14pt;
}


hr {
color: #008000;
}

hr.slim   { 		 /* HR senza margini verticali  */
 margin-bottom: 0px;
 margin-top: 0px;
 background-color: #aaaaaa;
 height: 1px;
}

h1	{
		margin-left:10px;
}

/* LINK */
a {
text-decoration: none  !important
}

a:link {
color: #800000;
}

a:active {
color: #ff00ff;
}

a:visited {
color: Navy;
}

a:hover {
color: Red;
}
/*  form  */
.form-control {   /* Stile per modificare e sovrascrivere l'aspetto degli input di Bootstrap */
  height: 32px;
  padding: 6px 12px;
  color: #333333;
  border-radius: 0;
}

form login{
margin :0 50% 0 50%;
}

form.bottoni {
margin-block-end: 0 !important;
float: left;
}

select {
color: blue;
}

span.right {
float: right;
}
textarea,
textarea > p {
color: blue;
font-size: 10pt;
}


/*  LABEL  */

 label    {
 float: left;
 width: 150px;
 display: inline;
 margin-right: 10px;
 line-height: 22px;
 text-align: right;
 }
 label.short {
float: left;
width: 10%;
display: inline;
margin-right: 10px;
line-height: 12px;
text-align: right;
}
iframe {
border: 0;
}
/*   FIELDSET   */
fieldset {
	background: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
}
fieldset.toolbar  {
     background: #F5F5F5;
     border: 1px solid #E3E3E3;
     border-radius: 4px;
     padding: 5px;
     margin-top: 5px;
	 height: 55px;
}
fieldset.input {
border: none;
margin: 1px;
padding: 1px;
border-radius: 0;
}

fieldset.tabella {
border: 1px solid #aaaaaa;
margin: 0;
padding: 10px;
border-radius: 7px;
}

fieldset div {
float: left;
width: 100%;
padding: 1px 0 2px;
}


legend {
	color: #a52a2a;
	border-bottom: none !important;
	margin-bottom: 0px  !important;
	padding: 0 5px;
	width: fit-content !important;
	font-weight: bold;
	font-size: inherit;
}  
/*  IMG  */
img {
border: none;
margin: 5 0 0 5;
vertical-align: middle;
}

.img-utente {
vertical-align: middle;
height: 50px;
}

img.centro{
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;	
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.login {
	margin-right: 40px;
}

form	{
  margin-block-end: 0em !important;	
}

input.titolo {
	background: inherit;
	color: blue;
	border-width: 0px;
}

input.titolo_b {
	background: inherit;
	color: blue;
	font-weight: bold;
	border-width: 0px;
}
input.nobord {
	border: none;
	width: 25px;
	height: 20px;
	padding: 0 3px;
}

button {
background: #dddddd;
border: 1px solid #aaaaaa;
}

    /* TABELLA */
.tableFixHead    { 
	overflow-y: auto; 
	height: 450px; 
	}
.tableFixHead th { 
	position: sticky; 
	top: 0; 
	}

table  { 
	border-collapse: collapse; 
	width: 100%; 
	}
	
th, td { 
	padding: 8px 16px; 
	}
	
th     { 
	background:#eee; 
	}

td.center {
	text-align: center;
}
/* Footer */

footer {
background-color: #fff;
 padding: 10px;
}

footer a, footer a:hover {
	color: #5cb85c;
}
header {
float: left;
width: 100%;
margin: 0;
height: 65px;
background-image: linear-gradient(top,#b8e4ff ,#2e94c0 );
background-image: -moz-linear-gradient(top,#b8e4ff ,#2e94c0 );
background-image: -webkit-linear-gradient(top,#b8e4ff ,#2e94c0 );
background-image: -ms-linear-gradient(top,#b8e4ff ,#2e94c0 );
font-size: 200%;
font-weight: bolder;
color: #ffffff;
border: 1px solid #aaaaaa;
border-radius: 7px 7px 0 0;
}

nav {
float: left;
width: 100%;
margin: 0;
padding: 0;
background-color: #dcdcdc;
border-left: 1px solid #aaaaaa;
border-right: 1px solid #aaaaaa;
}

article {
float: left;
width: 100%;
color: #000000;
background: transparent;
}

aside.left {
float: left;
width: 0%;
background: transparent;
color: #000;
}

aside.right {
float: left;
width: 0%;
background: transparent;
color: #000;
}


/*   CLASSI DIV   */
div.widget {
	float: left;
	margin: 20px;
	border: 2px solid #AAAAAA;
	border-radius: 5px;
	background: #CCCCCC;
     width: 100%;
}
div.widget:hover {
  	box-shadow: 3px 5px 10px rgba(0,0,0,0.75);       
	border-bottom-right-radius: 70% 25px;
     transition-property: border-bottom-right-radius;
     transition-duration: .5s;
     background: #CCCCCC;
}
div.primary {
  background:    linear-gradient(rgba( 51, 122, 183, 1),rgba(191, 225, 252, 0.45))
    } 
 
div.fb-container-sleek {
	padding: 0px;
	margin: 0px;
}  
div.footer {
	background: #CCCCCC;
	;
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

 div.success {
	background:    linear-gradient(rgba( 92,184,92, 1), rgba(92,184,92, 0.2));
}

div.danger {
	background:    linear-gradient(rgba( 201,48,44, 1), rgba(201,48,44, 0.2));
}
 
 div.info {
	background:    linear-gradient(rgba( 70,184,218, 1), rgba(70,184,218, 0.2));
}
 
 div.warning {
	background:    linear-gradient(rgba( 236,151,31, 1), rgba(236,151,31, 0.2));
}
 
 div.default {
	background:    linear-gradient(rgba( 118,118,118, 1), rgba(118,118,118, 0.2));
}
 div.basic {
	background:    linear-gradient(rgba( 160,160,160, 1), rgba(160,160,160,  0.2));
}
 
/* Stili per sovrascrivere e modificare il componente Accordion/collapse di Bootstrap */

.panel {
  border: 1px solid #dddddd;
  border-radius: 0;
}

.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-title > a {
  color: #fff;
  text-decoration: none;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-default > .panel-heading {
  background-color: #5cb85c;
  border-color: #dddddd;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}
/* Pannelli dell'accordion basati sui panel di Bootstrap */

.panel-carousel {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-carousel-heading {
  margin: -15px -15px 15px;
  padding: 10px 15px;
  font-size: 17.5px;
  font-weight: 500;
  color: #fff;
  border-bottom: 1px solid #dddddd;
}
.panel-carousel-footer {
  margin: 15px -15px -15px;
  padding: 10px 15px;
  background-color: #ecf7ff;
  border-top: 1px solid #dddddd;
}

.panel-carousel-control {
  font-size: 16px;
}
.panel-carousel-control:hover,
.panel-carousel-control:focus {
  text-decoration: none;
}

/*       TOOLTIP           */

.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	filter: alpha(opacity=100);
	opacity: 1;
	line-break: auto
}


.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9
}
.tooltip.top {
	padding: 5px 0;
	margin-top: -3px
}
.tooltip.right {
	padding: 0 5px;
	margin-left: 3px
}
.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px
}
.tooltip.left {
	padding: 0 5px;
	margin-left: -3px
}
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 4px
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
a[data-toggle="tooltip"] {
	cursor: none;
}
/*   NAVBAR   */
.navbar {
	border: none;
	margin-bottom: 0px;
	border-radius: 7px 7px 0 0;
}
.navbar-nav {
	margin-top: 0;
	flex-direction: row !important;
}
.navbar-brand {
	display: inline-block;
	background: url(images/logo/logo.png) center bottom no-repeat;
}
.navbar-default {
	background-color: #fcfcfc;
}
.navbar-default .navbar-nav > li > a {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333333;
	border-bottom: 1px solid #357ebd;
}
.navbar-default .navbar-nav > li > a:hover,                                              
.navbar-default .navbar-nav > li > a:focus {
	color: #357ebd;
}
.navbar-default .navbar-nav > .active > a,                                          
.navbar-default .navbar-nav > .active > a:hover,                                         
.navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #357ebd;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle {
	border: 1px solid #357ebd;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #357ebd;
}
.navbar-default .navbar-collapse {
	border-color: transparent;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,                                
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #357ebd;
	border-bottom-color: #357ebd;
}
.navbar-default .navbar-nav > .open > a,                                            
.navbar-default .navbar-nav > .open > a:hover,                                           
.navbar-default .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #357ebd;
}
.navbar-default .navbar-nav > .open > a .caret,                                     
.navbar-default .navbar-nav > .open > a:hover .caret,                                    
.navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #333;
	border-bottom-color: #333;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #333;
	border-bottom-color: #333;
}
/*   gruppo   */
@media screen and (min-width: 768px) {
.navbar-default .navbar-nav > li > a {
	border-bottom: none;
}
.navbar-default .navbar-nav > li > a:hover,                                              
.navbar-default .navbar-nav > li > a:focus {
	border-top: 2px solid #357ebd;
	padding-top: 13px;
}
}

/* Stili per sovrascrivere e modificare i bottoni standard di Bootstrap */

.btn {
  border: 01px solid #bbbbbb;
  border-radius: 4px;
  padding: 6px;
  margin: 4px;
  font-size: 14pt;
}
.btn:focus {
  outline: 0;
}
.btn-round-bottom {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

/*       UL-NAV2           */

ul.nav2 {
	float: left;
	margin: 0;
	padding: 0;
	background: gainsboro;
	list-style: none;
	font: 1.2em Verdana;
	font-weight: bold;
	width: 90%;
}
ul.nav2 li {
	float: left;
	margin: 0;
	padding: 0;
	color: black;
}
ul.nav2 li a {
	color: red;
	border-right: 0px;
}
ul.nav2>li>a {
	color: darkblue;
	border-right: 0px;
	font-weight: normal !important;
	background: transparent !important;
}
ul.nav2 li a:hover {
	background: black;
}
ul.nav2 a:link,                                                                       
ul.nav2 a:visited {
	display: block;
	padding: 4px 16px;
	text-decoration: none;
}
ul.nav2 a:hover,                                                                          
ul.nav2 a:focus,                                                                        
ul.nav2 a:active {
	background-color: gainsboro;
	color: deeppink;
	text-decoration: none;
}
ul.nav2 li:hover ul.liv2 {
	display: block;
	position: absolute;
	z-index: 1;
	width: 13%;
	padding: 0;
	margin: 0;
	background: gainsboro;
}

/*       UL-LIV2           */

ul.liv2 {
	display: none;
	position: absolute;
	z-index: 1;
	width: 13%;
	padding: 0;
	margin: 0;
	background: gainsboro;
}
ul.liv2 li {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul.liv2>li>a {
	color: white;
	border-right: 0px;
	font-weight: bold;
	background: #444444;
}
.dropdown-menu {
	padding: 0 0;
	border-radius: 0;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
	padding: 7px 10px;
	border-bottom: 1px solid #ccc;
}

/* colore-sfondo template */
.fb-bgcolor-danger {
	background-color: #c9302c !important;
	color: #ffffff !important;
}
.fb-bgcolor-primary {
	background-color: #337ab7 !important;
	color: #ffffff !important;
}
.fb-bgcolor-success {
	background-color: #5cb85c !important;
	color: #ffffff !important;
}

.fb-bgcolor-info {
	background-color: #46b8da !important;
	color: #ffffff !important;
}
.fb-bgcolor-warning {
	background-color: #ec971f !important;
	color: #ffffff !important;
}
.fb-bgcolor-default {
	background-color: #ffffff !important;
	color: #000000 !important;
}
.fb-bgcolor-basic {
	background-color: #f5f5f5 !important;
	color: #000000 !important;
}


/* colore template */
.fb-color-danger {
	color: #a94442 !important; 
}
.fb-color-primary {
	color: #357ebd !important;
}
.fb-color-default {
	color: #ffffff !important;
}
.fb-color-basic {
	color: #f5f5f5 !important;
}


/* totop */
.fb-totop      {
     bottom: 1em;
     right: 2em;
     width: 55px;
     height: 55px;
     position: fixed;
     display: block;
     background-color: #cacaca;
     padding: 10px 0 0 13px;
     border:1px solid #337eb7;
     border-radius:4px ;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/*     C O L O R I           */

.red {
	color: #ff0000;
}
.blue {
	color: #0000FF;
}
.yellow {
	color: #FFFF00;
}
.green {
	color: #008000;
}
.brown {
	color: #A52A2A;
}
.black {
	color: #000000;
}
.white {
	color: #FFFFFF;
}
.pink {
	color: #FFC0CB;
}
.teal {
	color: #008080;
}
.lime {
	color: #00FF00;
}
/* --------------------------------------------- */
/*  GRIGLIE                                      */
/* --------------------------------------------- */

.grid1	{
    display: grid;
	grid-template-rows; 300px;
    grid-template-areas:
    "promo1";
	}	

.grid2	{
    display: grid;
		grid-template-rows; 300px;
    grid-template-areas:
    "promo1 promo2";
	}
	
.grid3	{
    display: grid;
	grid-template-rows; 300px;
    grid-template-areas:
    "promo1 promo2 promo3";
	}	

.grid4	{
    display: grid;
		grid-template-rows; 300px;
    grid-template-areas:
    "promo1 promo2 promo3 promo4";
	}	

.grid5	{
    display: grid;
		grid-template-rows; 300px;
    grid-template-areas:
    "promo1 promo2 promo3 promo4 promo5";
	}	
	
.grid6	{
    display: grid;
		grid-template-rows; 300px;
    grid-template-areas:
    "promo1 promo2 promo3 promo4 promo5 promo6";
	}
/* --------------------------------------------- */

.fb-col1	{
    grid-template-columns:  100% ;
}

.fb-col2	{
    grid-template-columns:  50% 50% ;
}

.fb-col3	{
    grid-template-columns:  33.3333333333333333% 
							33.3333333333333333% 
							33.3333333333333333%;
}

.fb-col4	{
	grid-template-columns: 25% 25% 25% 25%;
}

.fb-col5	{
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.fb-col6	{
    grid-template-columns:  16.6666666666666666% 
							16.6666666666666666%
							16.6666666666666666%
							16.6666666666666666%
							16.6666666666666666%							
							16.6666666666666666%;
}
/* --------------------------------------------- */

.gutter		{	
	gap:0px;
}

/*   ID   */
#footer-copy {
 padding: 10px 0 0 0;
 border-top: 1px solid #fff;
}
#footer {
	height: 200px;
}
#wrapp {
	height: 0;
	margin-bottom: 16px;
	margin-left: 30px;
	overflow: hidden;
	padding-bottom: 67.5%;
	padding-top: 25px;
	position: relative;
}
#player {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	left: 20px;
	display: none;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
#myBtn:hover {
	background-color: #555;
}
 