/* colori */
/* ----------------- */
/*  grigio regular  */
/*  grigio chiaro  */
/*  grigio scuro  */
/*     C O L O R I           */
.blue {
  color: #0000FF; }

.black {
  color: #000000; }

.white {
  color: #FFFFFF; }

.transparent {
  background-color: transparent; }

.danger {
  color: #d9534f; }

.primary {
  color: #428bca; }

.success {
  color: #5cb85c; }

.info {
  color: #5bc0de; }

.warning {
  color: #f0ad4e; }

.default {
  color: #FFFFFF; }

div.success {
  background: linear-gradient(#5cb85c, rgba(92, 184, 92, 0.2)); }

div.danger {
  background: linear-gradient(#c9302c, rgba(201, 48, 44, 0.2)); }

div.info {
  background: linear-gradient(#46b8da, rgba(70, 184, 218, 0.2)); }

div.warning {
  background: linear-gradient(#ec971f, rgba(236, 151, 31, 0.2)); }

div.default {
  background: linear-gradient(#767676, rgba(118, 118, 118, 0.2)); }

div.basic {
  background: linear-gradient(#a0a0a0, rgba(160, 160, 160, 0.2)); }

/* colore-sfondo template */
.fb-bgcolor-danger {
  background-color: #d9534f !important;
  color: #FFFFFF !important; }

.fb-bgcolor-primary {
  background-color: #428bca !important;
  color: #FFFFFF !important; }

.fb-bgcolor-success {
  background-color: #5cb85c !important;
  color: #FFFFFF !important; }

.fb-bgcolor-info {
  background-color: #5bc0de !important;
  color: #FFFFFF !important; }

.fb-bgcolor-warning {
  background-color: #f0ad4e !important;
  color: #FFFFFF !important; }

.fb-bgcolor-default {
  background-color: #FFFFFF !important;
  color: #000000 !important; }

.fb-bgcolor-basic {
  background-color: #c8c8c8 !important;
  color: #000000 !important; }

/* colore template */
.fb-color-danger {
  color: #d9534f !important; }

.fb-color-primary {
  color: #428bca !important; }

.fb-color-default {
  color: #FFFFFF !important; }

.fb-color-basic {
  color: #c8c8c8 !important; }

/*  form  */
/*  MIXINS  */
/* Stile per modificare e sovrascrivere l'aspetto degli input di Bootstrap */
form {
  margin-block-end: 0em !important; }

.form-control {
  margin-block-end: 0em !important;
  height: 32px;
  padding: 6px 12px;
  color: #484848;
  border-radius: 0; }

form login {
  margin: 0 50% 0 50%; }

form.bottoni {
  margin-block-end: 0em !important;
  float: left; }

select {
  color: #0000FF; }

textarea,
textarea > p {
  color: #0000FF;
  font-size: 10pt; }

/*  LABEL  */
label {
  float: left;
  display: inline;
  margin-right: 10px;
  line-height: 22px;
  text-align: right;
  width: 150px; }

label.short {
  float: left;
  display: inline;
  margin-right: 10px;
  line-height: 22px;
  text-align: right;
  width: 10%; }

label.wide {
  float: left;
  display: inline;
  margin-right: 10px;
  line-height: 22px;
  text-align: right;
  width: 100%; }

input {
  color: #0000FF;
  border: 1px solid #888888; }

input.req {
  color: #0000FF;
  background: #FFFFFF;
  border: 1px solid #d9534f; }

input.titolo {
  background: inherit;
  color: #0000FF;
  border-width: 0px; }

input.titolo_b {
  background: inherit;
  color: #0000FF;
  font-weight: bold;
  border-width: 0px; }

input.nobord {
  border: none;
  width: 25px;
  height: 20px;
  padding: 0 3px; }

button {
  background: #888888;
  border: 1px solid #888888; }

/* LINK */
a {
  text-decoration: none !important; }

a:link {
  color: #5cb85c; }

a:active {
  color: #f0ad4e; }

a:visited {
  color: #428bca; }

a:hover {
  color: #d9534f; }

/*   FIELDSET   */
fieldset {
  background: #c8c8c8;
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px; }

fieldset.toolbar {
  background: #c8c8c8;
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 5px;
  margin-top: 5px;
  height: 55px; }

fieldset.input {
  border: none;
  margin: 1px;
  padding: 1px;
  border-radius: 0; }

fieldset.tabella {
  border: 1px solid #888888;
  margin: 0;
  padding: 10px;
  border-radius: 7px; }

fieldset div {
  float: left;
  width: 100%;
  padding: 1px 0 2px; }

legend {
  color: #5cb85c;
  border-bottom: none !important;
  margin-bottom: 0px  !important;
  padding: 0 5px;
  width: fit-content !important;
  font-weight: bold;
  font-size: inherit; }

/* TABELLA */
.tableFixHead {
  overflow-y: auto;
  height: 450px; }

.tableFixHead th {
  position: sticky;
  top: 0; }

table {
  border-collapse: collapse;
  width: 100%; }

th, td {
  padding: 8px 16px; }

th {
  background: #c8c8c8; }

td.center {
  text-align: center; }

tr td:last-child {
  border-right: 1px solid #888888; }

/*  IMG  */
img {
  border: none;
  margin: 5 0 0 5;
  vertical-align: middle; }

.img-utente {
  vertical-align: middle;
  height: 50px; }

img.centro {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.login {
  margin-right: 40px; }

/* Stili per sovrascrivere e modificare il componente Accordion/collapse di Bootstrap */
.panel {
  border: 1px solid #888888;
  border-radius: 0; }

.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.panel-title > a {
  color: #FFFFFF;
  text-decoration: none; }

.panel-group .panel {
  border-radius: 0; }

.panel-group .panel + .panel {
  margin-top: 0; }

.panel-default > .panel-heading {
  background-color: #5cb85c;
  border-color: #888888; }

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #888888; }

.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #888888; }

/* Pannelli dell'accordion basati sui panel di Bootstrap */
.panel-carousel {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #888888;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel-carousel-heading {
  margin: -15px -15px 15px;
  padding: 10px 15px;
  font-size: 17.5px;
  font-weight: 500;
  color: #FFFFFF;
  border-bottom: 1px solid #888888; }

.panel-carousel-footer {
  margin: 15px -15px -15px;
  padding: 10px 15px;
  background-color: #c8c8c8;
  border-top: 1px solid #888888; }

.panel-carousel-control {
  font-size: 16px; }

.panel-carousel-control:hover,
.panel-carousel-control:focus {
  text-decoration: none; }

/*       TOOLTIP           */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=100);
  opacity: 1;
  line-break: auto; }

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: 0.9; }

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px; }

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px; }

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px; }

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #FFFFFF;
  text-align: center;
  background-color: #000000;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

a[data-toggle="tooltip"] {
  cursor: none; }

/*   NAVBAR   */
.navbar {
  border: none;
  margin-bottom: 0px;
  border-radius: 7px 7px 0 0; }

.navbar-nav {
  margin-top: 0;
  flex-direction: row !important; }

.navbar-brand {
  display: inline-block;
  background: url(images/logo/logo.png) center bottom no-repeat; }

.navbar-default {
  background-color: #c8c8c8; }

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #484848;
  border-bottom: 1px solid #428bca; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #428bca; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #428bca; }

.navbar-toggle {
  border-radius: 0; }

.navbar-default .navbar-toggle {
  border: 1px solid #428bca; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #428bca; }

.navbar-default .navbar-collapse {
  border-color: transparent; }

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #428bca;
  border-bottom-color: #428bca; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: #428bca; }

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #484848;
  border-bottom-color: #484848; }

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #484848;
  border-bottom-color: #484848; }

/*   gruppo   */
@media screen and (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    border-bottom: none; }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    border: 2px solid #428bca;
    padding-top: 13px; } }
/*       UL-NAV2           */
ul.nav2 {
  float: left;
  margin: 0;
  padding: 0;
  background: #c8c8c8;
  list-style: none;
  font: 1.2em Verdana;
  font-weight: bold;
  width: 90%; }

ul.nav2 li {
  float: left;
  margin: 0;
  padding: 0;
  color: #000000; }

ul.nav2 li a {
  color: #d9534f;
  border-right: 0px; }

ul.nav2 > li > a {
  color: #0000FF;
  border-right: 0px;
  font-weight: normal !important;
  background: transparent !important; }

ul.nav2 li a:hover {
  background: #000000; }

ul.nav2 a:link,
ul.nav2 a:visited {
  display: block;
  padding: 4px 16px;
  text-decoration: none; }

ul.nav2 a:hover,
ul.nav2 a:focus,
ul.nav2 a:active {
  background-color: #c8c8c8;
  color: #d9534f;
  text-decoration: none; }

ul.nav2 li:hover ul.liv2 {
  display: block;
  position: absolute;
  z-index: 1;
  width: 13%;
  padding: 0;
  margin: 0;
  background: #c8c8c8; }

/*       UL-LIV2           */
ul.liv2 {
  display: none;
  position: absolute;
  z-index: 1;
  width: 13%;
  padding: 0;
  margin: 0;
  background: #c8c8c8; }

ul.liv2 li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

ul.liv2 > li > a {
  color: #FFFFFF;
  border-right: 0px;
  font-weight: bold;
  background: #484848; }

/* totop */
.fb-totop {
  bottom: 1em;
  right: 2em;
  width: 55px;
  height: 55px;
  position: fixed;
  display: block;
  background-color: #888888;
  padding: 10px 0 0 13px;
  border: 1px solid #428bca;
  border-radius: 50%; }

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; }

/* --------------------------------------------- */
/*  GRIGLIE                                      */
/* --------------------------------------------- */
.grid1 {
  display: grid;
  grid-template-rows: flex;
  grid-template-areas: "promo1"; }

.grid2 {
  display: grid;
  grid-template-rows: flex;
  grid-template-areas: "promo1 promo2"; }

.grid3 {
  display: grid;
  grid-template-rows: flex;
  grid-template-areas: "promo1 promo2 promo3"; }

.grid4 {
  display: grid;
  grid-template-rows: flex;
  grid-template-areas: "promo1 promo2 promo3 promo4"; }

.grid5 {
  display: grid;
  grid-template-rows: flex;
  grid-template-areas: "promo1 promo2 promo3 promo4 promo5"; }

.grid6 {
  display: grid;
  grid-template-rows: flex;
  grid-template-areas: "promo1 promo2 promo3 promo4 promo5 promo6"; }

.gutter {
  gap: 0px; }

/* --------------------------------------------- */
.fb-col1 {
  grid-template-columns: 100%; }

.fb-col2 {
  grid-template-columns: 50% 50%; }

.fb-col3 {
  grid-template-columns: 33.3333333333333333% 33.3333333333333333%  33.3333333333333333%; }

.fb-col4 {
  grid-template-columns: 25% 25% 25% 25%; }

.fb-col5 {
  grid-template-columns: 20% 20% 20% 20% 20%; }

.fb-col6 {
  grid-template-columns: 16.6666666666666666% 16.6666666666666666% 16.6666666666666666% 16.6666666666666666% 16.6666666666666666%							 16.6666666666666666%; }


/*   ELEMENTI HTML  */
html {
  min-height: 100%; }

body {
  margin: 10px auto;
  padding: 0;
  font-size: 10pt;
  width: 95%;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility; }

/* Stile per modificare e sovrascrivere i blockquote di Bootstrap */
blockquote {
  border-left: 5px solid #428bca; }

p {
  margin: 0;
  padding: 0.5em 1em;
  text-align: left;
  color: #000000; }

.p:first-letter {
  float: left;
  padding-right: 0.1em;
  line-height: 0.5em;
  font-size: 2em;
  color: #5cb85c; }

p.text-center {
  background: #888888;
  opacity: .75; }

Pre {
  color: #000000;
  line-height: 1.2em;
  margin: 0 0 5px 0;
  font-size: 14pt; }

hr {
  color: #000000; }

hr.slim {
  /* HR senza margini verticali  */
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #888888;
  height: 1px; }

h1 {
  margin-left: 10px; }

h4 {
  text-align: center; }

span.right {
  float: right; }

iframe {
  border: 0; }

footer {
  background-color: #FFFFFF;
  padding: 10px; }

footer a, footer a:hover {
  color: #5cb85c; }

header {
  float: left;
  width: 100%;
  margin: 0;
  height: 65px;
  background-image: linear-gradient(top, #5bc0de, #175b70);
  background-image: -moz-linear-gradient(top, #5bc0de, #175b70);
  background-image: -webkit-linear-gradient(top, #5bc0de, #175b70);
  background-image: -ms-linear-gradient(top, #5bc0de, #175b70);
  font-size: 200%;
  font-weight: bolder;
  color: #FFFFFF;
  border: 1px solid #888888;
  border-radius: 7px 7px 0 0; }

nav {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #c8c8c8;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888; }

article {
  float: left;
  width: 100%;
  color: #000000;
  background: transparent; }

aside.left {
  float: left;
  width: 0%;
  background: transparent;
  color: #000000; }

aside.right {
  float: left;
  width: 0%;
  background: transparent;
  color: #000000; }

/*   CLASSI DIV   */
div.widget {
  float: left;
  margin: 20px;
  border: 2px solid #888888;
  border-radius: 5px;
  background: #888888;
  width: 100%; }

div.widget:hover {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
  border-bottom-right-radius: 70% 25px;
  transition-property: border-bottom-right-radius;
  transition-duration: .5s;
  background: #888888; }

div.primary {
  background: linear-gradient(#337ab7, rgba(191, 225, 252, 0.45)); }

div.fb-container-sleek {
  padding: 0px;
  margin: 0px; }

div.footer {
  background: #888888;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #484848;
  border: 0;
  border-bottom: 1px solid #888888; }

/* Stili per sovrascrivere e modificare i bottoni standard di Bootstrap */
.btn {
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 6px;
  margin: 4px;
  font-size: 14pt; }

.btn:focus {
  outline: 0; }

.btn-round-bottom {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.dropdown-menu {
  padding: 0 0;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175); }

.dropdown-menu > li > a {
  padding: 7px 10px;
  border-bottom: 1px solid #888888; }

.glyphicon-tondo {
  top: 8px;
  left: 4px; }

.fa-glyph-center {
  display: block !important;
  text-align: center; }


/* --------------------------------------------- */
.well {
  margin-top: 10px; }

.container {
  width: auto;
  padding: 0 15px; }

.container .text-muted {
  margin: 20px 0; }

.space-after {
  margin-top: 5px; }

.space-before {
  margin-bottom: 5px; }

/*       BORDO           */
.bordato {
  border: 1px solid; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #5cb85c; }

.row-center {
  margin: 0 auto; }

.no-padd {
  padding-left: 0px !important;
  padding-right: 0px !important; }

/* autocomplete scrollabile */
.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  /* prevent horizontal scrollbar */ }

/*  CLASSI  */
.little {
  font-size: 50%; }

.center {
  text-align: center; }

.marchio {
  height: 50px;
  margin: 7.5px;
  float: left; }

.alert {
  /*  alert senza margini  */
  margin-bottom: 0px !important; }

.toolbar-color {
  background: #5bc0de;
  margin: 0; }

h1.toolbar {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin-top: 10px; }

/*   ID   */
#footer-copy {
  padding: 10px 0 0 0;
  border-top: 1px solid #FFFFFF; }

#footer {
  /*	height: 200px;  */ }

#wrapp {
  height: 0;
  margin-bottom: 16px;
  margin-left: 30px;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 25px;
  position: relative; }

#player {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/* bottone go-to-top */
#tornasu {
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: none;
  padding: 10px; }
